*{
  margin: 10px auto;
  padding: 10px auto;
  font-size: 30px;
}
body{
  background-color: aquamarine;
}
input{
  font-family: JetBrains Mono;
  background-color: greenyellow;
  font-weight: bolder;
  border-radius: 3px;
  border-color: white;
  color: black;
}
.container{
  padding: 20px;
  max-width: 600px;
  min-height: 400px;
  background-color: papayawhip;
  border-radius: 10px;
  border-style: solid;
  border-color: whitesmoke;
}
.container h1{
  font-family: JetBrains Mono;
  text-align: center;
  font-size: 40px;
  color: black;
}
.container h1:after{
  content: "";
  width: 80px;
  height: 3px;
  margin: 0 auto;
  background-color: royalblue;
  display: block;
  margin-top: 10px;
}
.container #cont1, #cont2, #cont3{
  font-family: JetBrains Mono;
}
.container #butao{
  text-align: center;
  background-color: greenyellow;
  border-radius: 5px;
  border-color: white;
}
.container #butao:hover{
  background-color: royalblue;
  transition: .6s;
  border-color: white;
}
#resp{
  text-align: center;
  margin: 5px; auto;
  min-height: 200px;
  font-family: JetBrains Mono;
  color: black;
}
